extends layout

block content
  h1 Cargar nuevo usuario

  form(action="/create-user" method="post" enctype="multipart/form-data")
    div
      label(for="email") email 
      input(type="email", name="email" required)
    div
      label(for="nombre") nombre 
      input(type="text", name="nombre" required)
    div
      label(for="password") password 
      input(type="password", name="password" required)
    div
      label(for="image_url") URL de la imagen 
      input(type="text", name="image_url" required)
    div
      label(for="imagen") Subi una imagen
      input(type="file", name="imagen" required)
    div
      button(type="submit") Enviar
